.navbar-default {
    background:transparent;
    border-style: none;


}

.dropdown-menu .inverse-dropdown {
	 
	right: 100%;
}

.navbar-inverse .navbar-brand {
    color: white;

}

.navbar-inverse .navbar-nav > li > a {

    color: white;
    display: block;
    text-align: right;

}
