

html,body {
	background: url("img/A7rx0J4.jpg") no-repeat center center fixed;
	/*background-color: black;*/
    background-size: cover;
    margin-top: 0;
    height: 100%;
    width: 100%;
    bottom: 100%;
    padding: 0px;

}

h1, h2 {
    text-align: center;
    color: white;
}

.construct {
    height: 400px;
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}