@import url("https://fonts.googleapis.com/css?family=Open+Sans|Raleway");
@import "mixins";
* {
	@include ALL-STAR;
}

body, html {
	width: 100%;
	height: auto;
	@include fancyBG;
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "Raleway";
}

.navbar-inverse .navbar-nav .nav-link {
	@include pureWhite;
}

form a {
	@include pureWhite;
}

.m-top {
	margin-top: 56px;
}

.newsContainer.visible {
	display:none;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 100%;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	
}

.showNews {
	height: auto;
	margin: 0.5rem 5px 35px 0;
	display: inline-block;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

	p {
		color: black;
		font-size: 1rem;
		overflow-wrap: break-word;
	}
	a {
		overflow-wrap: break-word;
	}
}

.savedNewsContainer  {
	background-color: black;
}

.img-responsive {
	@include img-responsive;
}

.pt-15 {
	@include threeway-padding;
}

footer {
	border: 0.5px solid white;
	background-color: black;

	h5 {
		@include pureWhite;
	}
	a {
		@include pureWhite;
	}
}

#loading {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	background-image: url('http://media3.giphy.com/media/12NUbkX6p4xOO4/giphy-downsized.gif');
	background-position: center center;
	background-repeat: no-repeat;
	z-index: 1000;
}