<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/links.css">
    <link href='http://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>    
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>Live View Projects</title>
</head>
<body>
 <section class="container">
 <h1 class="glitch" data-text="LIVE VIEW MY PROJECTS">LIVE VIEW MY PROJECTS</h1>
    <a class="glitch" data-text="CLOUD 9" href="../projects/cloud/index.html" target="_blank">CLOUD9</a>
    <a class="glitch" data-text="FOOD-APP" href="../projects/food/index.html" target="_blank">FOOD-APP</a>
    <a class="glitch" data-text="MILLIGRAM" href="../projects/milli/index.html" target="_blank">MILLIGRAM</a>
    <a class="glitch" data-text="PROJECT XLNT" href="../projects/milli/index.html" target="_blank">PROJECT XLNT</a>
</section>


<!--<a class="glitch" data-text="GLITCH" href="http://www.google.com" target="_blank">GLITCH</a>-->


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</body>
</html>