<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="../css/links.css">
	<link href='http://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>    
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
	<title>Live View Projects</title>
</head>
<body>
	<section class="container">
		<h1 class="glitch" data-text="LIVE VIEW MY PROJECTS">LIVE VIEW MY PROJECTS</h1>
		<a class="glitch" data-text="CLOUD 9" href="https://www.coop.se" target="_blank">COOP.se</a>
		<a class="glitch" data-text="CLOUD 9" href="../projects/cloud/index.html" target="_blank">CLOUD9</a>
		<a class="glitch" data-text="CLOUD 9 REBORN" href="https://eddiejostell.github.io/Cloud9-Reborn/" target="_blank">CLOUD9 REBORN (NEW AND IMPROVED)</a>
		<a class="glitch" data-text="FOOD-APP" href="https://eddiejostell.github.io/food-app/" target="_blank">FOOD-APP</a>
		<a class="glitch" data-text="TODO-APP" href="https://eddiejostell.github.io/todo-app/" target="_blank">TODO-APP</a>
		<a class="glitch" data-text="MILLIGRAM" href="../projects/milli/index.html" target="_blank">MILLIGRAM</a>
		<a class="glitch" data-text="MOVIE DATABASE" href="https://eddiejostell.github.io/MovieDatabase/" target="_blank">MOVIE DATABASE</a>
		<a class="glitch" data-text="NEWS HUB" href="https://eddiejostell.github.io/AJAX-Assignment/" target="_blank">NEWS HUB</a>
		<a class="glitch" data-text="XLNT VANILLA JS & BOOTSTRAP (SWAP IN FOOTER)" href="../projects/xlnt/index.html" target="_blank">XLNT VANILLA JS & BOOTSTRAP (SWAP IN FOOTER)</a>
	</section>


	<!--<a class="glitch" data-text="GLITCH" href="http://www.google.com" target="_blank">GLITCH</a>-->


	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</body>
</html>